{% extends 'base.html.twig' %}

{% block title %}Liste de Tâches
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="not-pdf">
			<a href="{{ path('task_create') }}" class="btn btn-primary mb-3">{{ "button.add"|trans }}</a>
			<a href="{{ path('tasks_list_pdf') }}" class="btn btn-primary mb-3 ml-2">Export to PDF</a>
		</div>
		<table class="table table-striped table-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Date effective</th>
				<th>Catégorie</th>
				<th>Adresse</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th>User ID</th>
					<th class="not-pdf"></th>
				{% endif %}
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td class="clickable" style="cursor: pointer;" data-id="{{path('task_detail', {'id':task.id})}}">{{ task.name }}</td>
							<td>{{ task.endAt | date('date'|trans)}}</td>
							<td>{{ task.tag.name }}</td>
							<td>{{ task.address }}</td>
							{% if is_granted('ROLE_ADMIN') %}
								<td>{{ task.user.id }}</td>
								<td>
									<a href="{{ path('task_republier',{'id': task.id})}}" class="btn btn-primary ">Republier</a>
								</td>
							{% endif %}

						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable({
"language": {
"decimal": "",
"emptyTable": "{{ 'dataTable.empty'|trans }}",
"info": "{{ 'dataTable.info'|trans }}",
"infoEmpty": "{{ 'dataTable.infoEmpty'|trans }}",
"infoFiltered": "{{ 'dataTable.infoFiltered'|trans }}",
"infoPostFix": "",
"thousands": ",",
"lengthMenu": "{{ 'dataTable.lengthMenu'|trans }}",
"loadingRecords": "{{ 'dataTable.loadingRecords'|trans }}",
"processing": "{{ 'dataTable.processing'|trans }}",
"search": "{{ 'dataTable.search'|trans }}:",
"zeroRecords": "{{ 'dataTable.zeroRecords'|trans }}",
"paginate": {
"first": "{{ 'dataTable.paginate.first'|trans }}",
"last": "{{ 'dataTable.paginate.last'|trans }}",
"next": "{{ 'dataTable.paginate.next'|trans }}",
"previous": "{{ 'dataTable.paginate.previous'|trans }}"
}
}
});
});
	</script>
	<script>
		$(".clickable").click(function (e) {
$valeur = e.currentTarget.getAttribute("data-id");
document.location = $valeur;
return $valeur;
});
	</script>
{% endblock %}
